body {
    color: #fff;
    font-family: "living_by_numbersregular", sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #120B12;
}

.d-f {
    display: -ms-flexbox;
    display: flex;
}

.d-g {
    display: grid;
}

.jc-sb {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.jc-c {
    -ms-flex-pack: center;
    justify-content: center;
}

.jc-s {
    -ms-flex-pack: start;
    justify-content: start;
}

.jc-e {
    -ms-flex-pack: end;
    justify-content: end;
}

.ai-c {
    -ms-flex-align: center;
    align-items: center;
}

.fd-c {
    -ms-flex-direction: column;
    flex-direction: column;
}

.fw-w {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.ta-c {
    text-align: center;
}

.ta-e {
    text-align: end;
}

.gtc-2 {
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
    .gtc-2 {
        grid-template-columns: 1fr;
    }
}

.gtc-3 {
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
    .gtc-3 {
        grid-template-columns: 1fr;
    }
}

.gtc-4 {
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 768px) {
    .gtc-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 425px) {
    .gtc-4 {
        grid-template-columns: 1fr;
    }
}

.no-copy {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.soc__container {
    max-width: 530px;
    margin: 0 auto;
    padding: 0px 10px;
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
}

@media screen and (max-width: 1024px) {
    .soc__container {
        max-width: 768px;
        margin: 0 auto;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@media screen and (max-width: 768px) {
    .soc__container {
        max-width: 425px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 425px) {
    .soc__container {
        max-width: none;
        margin: 0 auto;
    }
}

.soc__row:first-child {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
}

.soc__row:first-child .soc__column:first-child {
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
}

@media screen and (max-width: 1024px) {
    .soc__row:first-child .soc__column:first-child {
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
}

@media screen and (max-width: 768px) {
    .soc__row:first-child .soc__column:first-child {
        -webkit-transform: translateX(20%);
        transform: translateX(20%);
    }
}

.soc__row:first-child .soc__column:last-child {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
}

@media screen and (max-width: 1024px) {
    .soc__row:first-child .soc__column:last-child {
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
}

@media screen and (max-width: 768px) {
    .soc__row:first-child .soc__column:last-child {
        -webkit-transform: translateX(-20%);
        transform: translateX(-20%);
    }
}

.soc__row:last-child .soc__column:first-child {
    -webkit-transform: translateX(40%);
    transform: translateX(40%);
}

.soc__row:last-child .soc__column:last-child {
    -webkit-transform: translateX(-40%);
    transform: translateX(-40%);
}

.soc__column {
    transition: 0.2s;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
}

.soc__column:hover {
    -webkit-transform: scale(105%);
    transform: scale(105%);
}

.soc__column a {
    display: block;
}

@media screen and (max-width: 1024px) {
    .soc__column a {
        -ms-flex: 0 0 110px;
        flex: 0 0 110px;
    }
}

@media screen and (max-width: 768px) {
    .soc__column a {
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
    }
}