@import url("https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap");

@font-face {
    font-family: "living_by_numbersregular";
  src: url("./../fonts/living-by-numbers.woff2") format("woff2"), url("./../fonts/living-by-numbers.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0px 10px;
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 425px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 425px) {
    .container {
        max-width: none;
        margin: 0 auto;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    font-family: "living_by_numbersregular", sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #120B12;
}

.d-f {
    display: -ms-flexbox;
    display: flex;
}

.d-g {
    display: grid;
}

.jc-sb {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.jc-c {
    -ms-flex-pack: center;
    justify-content: center;
}

.jc-s {
    -ms-flex-pack: start;
    justify-content: start;
}

.jc-e {
    -ms-flex-pack: end;
    justify-content: end;
}

.ai-c {
    -ms-flex-align: center;
    align-items: center;
}

.fd-c {
    -ms-flex-direction: column;
    flex-direction: column;
}

.fw-w {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.ta-c {
    text-align: center;
}

.ta-e {
    text-align: end;
}

.gtc-2 {
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
    .gtc-2 {
        grid-template-columns: 1fr;
    }
}

.gtc-3 {
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
    .gtc-3 {
        grid-template-columns: 1fr;
    }
}

.gtc-4 {
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 768px) {
    .gtc-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 425px) {
    .gtc-4 {
        grid-template-columns: 1fr;
    }
}

.no-copy {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.header {
    position: relative;
}

@media screen and (max-width: 2560px) {
    .header {
        height: calc(1260px + 430 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .header {
        height: 1260px;
    }
}

.header__bg {
    position: absolute;
    max-width: none;
}

.header__bg1 {
    width: 71%;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.header__bg2 {
    right: -17px;
    width: 61%;
    z-index: 8;
}

@media screen and (max-width: 2560px) {
    .header__bg2 {
        bottom: calc(35px + 20 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .header__bg2 {
        bottom: 35px;
    }
}

.header__bg3 {
    z-index: 7;
    width: 101%;
}

@media screen and (max-width: 2560px) {
    .header__bg3 {
        left: -5px;
        bottom: calc(234px + 76 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .header__bg3 {
        left: 0;
        bottom: 234px;
    }
}

.header__bg4 {
    z-index: 6;
    width: 100%;
    right: -10px;
}

@media screen and (max-width: 2560px) {
    .header__bg4 {
        bottom: calc(302px + 105 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .header__bg4 {
        bottom: 302px;
    }
}

.header__bg5 {
    left: 0;
    width: 100%;
    z-index: 5;
}

@media screen and (max-width: 2560px) {
    .header__bg5 {
        bottom: calc(150px + 80 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .header__bg5 {
        bottom: 150px;
    }
}

.header__bg6 {
    left: 0;
    width: 101%;
    z-index: 4;
}

@media screen and (max-width: 2560px) {
    .header__bg6 {
        bottom: calc(400px + 140 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .header__bg6 {
        bottom: 400px;
    }
}

.header__mountains-mobile {
    display: none;
}

.header__bg7 {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

@-webkit-keyframes header-an {
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes header-an {
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header__bg8 {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header__bg9 {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header__nav {
    position: relative;
    z-index: 11;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .header__nav {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .header__nav ul {
        display: none;
    }
}

.header__nav ul li {
    margin-right: 70px;
    transition: 0.2s;
}

.header__nav ul li:hover {
    -webkit-transform: scale(105%);
    transform: scale(105%);
}

.header__nav ul li:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 768px) {
    .header__nav ul li {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .header__nav ul li:last-child {
        margin-bottom: 0px;
    }
}

.header__nav ul li a {
    color: inherit;
}

.header__nav ul li img {
    margin-right: 20px;
}

.header__nav ul li img:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 1024px) {
    .header__nav ul li img {
        width: 60px;
    }
}

@media screen and (max-width: 768px) {
    .header__nav ul li img {
        width: 40px;
    }
}

.header__nav-item {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__nav-item {
        display: block;
    }
}

.header__text-right {
    position: absolute;
    top: 160px;
    right: 0;
    z-index: 11;
}

.header__text-right img {
    width: calc(105px + 170 * ((100vw - 320px) / 1600));
    height: calc(50px + 20 * ((100vw - 320px) / 1600));
}

.intro__bg {
    position: absolute;
}

@media screen and (max-width: 768px) {
    .intro__bg {
        display: none;
    }
}

.intro__bg-details {
    z-index: 6;
    width: 95%;
    left: 34px;
}

@media screen and (max-width: 2560px) {
    .intro__bg-details {
        top: calc(1350px + 50 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro__bg-details {
        top: calc(1167px + -22 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1440px) {
    .intro__bg-details {
        top: calc(975px + -19 * ((100vw - 1024px) / 416));
    }
}

@media screen and (max-width: 1024px) {
    .intro__bg-details {
        top: calc(877px + -7 * ((100vw - 768px) / 256));
    }
}

.intro__bg-tunnel-shadow {
    z-index: 5;
    width: 81%;
    left: 0;
}

@media screen and (max-width: 2560px) {
    .intro__bg-tunnel-shadow {
        top: calc(1335px + 20 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro__bg-tunnel-shadow {
        top: calc(1167px + -22 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1440px) {
    .intro__bg-tunnel-shadow {
        top: calc(975px + -19 * ((100vw - 1024px) / 416));
    }
}

@media screen and (max-width: 1024px) {
    .intro__bg-tunnel-shadow {
        top: calc(877px + -7 * ((100vw - 768px) / 256));
    }
}

.intro__bg-tunnel-obj {
    z-index: 4;
    width: 100%;
    left: 0px;
}

@media screen and (max-width: 2560px) {
    .intro__bg-tunnel-obj {
        top: calc(820px + -155 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro__bg-tunnel-obj {
        top: calc(780px + -150 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1440px) {
    .intro__bg-tunnel-obj {
        top: calc(700px + -130 * ((100vw - 1024px) / 416));
    }
}

@media screen and (max-width: 1024px) {
    .intro__bg-tunnel-obj {
        top: calc(670px + -75 * ((100vw - 768px) / 256));
    }
}

.intro__bg-stones-shadow {
    z-index: 3;
    width: 100%;
    left: 0px;
}

@media screen and (max-width: 2560px) {
    .intro__bg-stones-shadow {
        top: calc(1177px + -33 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro__bg-stones-shadow {
        top: calc(1047px + -60 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1440px) {
    .intro__bg-stones-shadow {
        top: calc(890px + -51 * ((100vw - 1024px) / 416));
    }
}

@media screen and (max-width: 1024px) {
    .intro__bg-stones-shadow {
        top: calc(813px + -26 * ((100vw - 768px) / 256));
    }
}

.intro__bg-tunnel {
    z-index: 2;
    width: 81%;
    left: 0;
}

@media screen and (max-width: 2560px) {
    .intro__bg-tunnel {
        top: calc(1335px + 20 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro__bg-tunnel {
        top: calc(1167px + -22 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1440px) {
    .intro__bg-tunnel {
        top: calc(975px + -19 * ((100vw - 1024px) / 416));
    }
}

@media screen and (max-width: 1024px) {
    .intro__bg-tunnel {
        top: calc(877px + -7 * ((100vw - 768px) / 256));
    }
}

.intro__bg-stones {
    z-index: 1;
    width: 100%;
    left: 0px;
}

@media screen and (max-width: 2560px) {
    .intro__bg-stones {
        top: calc(1177px + -33 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro__bg-stones {
        top: calc(1047px + -60 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1440px) {
    .intro__bg-stones {
        top: calc(890px + -51 * ((100vw - 1024px) / 416));
    }
}

@media screen and (max-width: 1024px) {
    .intro__bg-stones {
        top: calc(813px + -26 * ((100vw - 768px) / 256));
    }
}

.intro__wrapper {
    position: relative;
}

.intro .container {
    position: relative;
    z-index: 8;
}

.intro__row {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
    .intro__row {
        display: block;
        margin-bottom: 100px;
    }
}

.intro__column {
    text-align: justify;
    max-width: 500px;
    font-size: 40px;
    line-height: 41px;
}

@media screen and (max-width: 1440px) {
    .intro__column {
        font-size: 35px;
        line-height: 36px;
    }
}

@media screen and (max-width: 1024px) {
    .intro__column {
        font-size: 25px;
        line-height: 26px;
        max-width: 400px;
    }
}

@media screen and (max-width: 768px) {
    .intro__column {
        font-family: "Kirang Haerang", sans-serif;
        font-weight: normal;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        padding: 0px !important;
        margin-top: 100px;
        max-width: none;
    }
}

.intro__column:nth-child(1) {
    grid-column: 2/3;
    grid-row: 1/2;
}

@media screen and (max-width: 2560px) {
    .intro__column:nth-child(1) {
        margin-bottom: calc(280px + 170 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro__column:nth-child(1) {
        margin-bottom: calc(220px + 80 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1440px) {
    .intro__column:nth-child(1) {
        margin-bottom: calc(120px + 100 * ((100vw - 1024px) / 416));
    }
}

@media screen and (max-width: 1024px) {
    .intro__column:nth-child(1) {
        margin-bottom: calc(100px + 40 * ((100vw - 768px) / 256));
    }
}

.intro__column:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 50px;
}

@media screen and (max-width: 2560px) {
    .intro__column:nth-child(2) {
        margin-bottom: calc(200px + 100 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro__column:nth-child(2) {
        margin-bottom: calc(70px + 80 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1440px) {
    .intro__column:nth-child(2) {
        margin-bottom: calc(40px + 40 * ((100vw - 1024px) / 416));
    }
}

@media screen and (max-width: 1024px) {
    .intro__column:nth-child(2) {
        margin-bottom: calc(20px + 50 * ((100vw - 768px) / 256));
        margin-left: 0px;
    }
}

.intro__column:nth-child(3) {
    grid-column: 1/3;
    grid-row: 3/4;
}

@media screen and (max-width: 2560px) {
    .intro__column:nth-child(3) {
        margin-bottom: calc(240px + 160 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro__column:nth-child(3) {
        margin-bottom: calc(140px + 120 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1440px) {
    .intro__column:nth-child(3) {
        margin-bottom: calc(70px + 110 * ((100vw - 1024px) / 416));
    }
}

@media screen and (max-width: 1024px) {
    .intro__column:nth-child(3) {
        margin-bottom: calc(70px + 70 * ((100vw - 768px) / 256));
        margin-left: 0px;
    }
}

.intro__column:nth-child(4) {
    grid-column: 2/3;
    grid-row: 4/5;
    padding-left: 100px;
}

@media screen and (max-width: 2560px) {
    .intro__column:nth-child(4) {
        margin-bottom: calc(40px + 130 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro__column:nth-child(4) {
        margin-bottom: calc(-10px + 90 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1440px) {
    .intro__column:nth-child(4) {
        margin-bottom: calc(-35px + 75 * ((100vw - 1024px) / 416));
    }
}

@media screen and (max-width: 1024px) {
    .intro__column:nth-child(4) {
        margin-bottom: calc(-20px + 50 * ((100vw - 768px) / 256));
        margin-left: 0px;
    }
}

.intro__column h2 {
    text-transform: uppercase;
}

.intro .lamp {
    position: absolute;
    z-index: 7;
}

@media screen and (max-width: 768px) {
    .intro .lamp {
        display: none;
    }
}

.intro .lamp1 {
    left: 5%;
    width: calc(10px + 17 * ((100vw - 320px) / 1600));
    height: calc(40px + 65 * ((100vw - 320px) / 1600));
}

@media screen and (max-width: 2560px) {
    .intro .lamp1 {
        top: calc(-25px + 30 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro .lamp1 {
        top: calc(-3px + -12 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1440px) {
    .intro .lamp1 {
        top: calc(-4px + -9 * ((100vw - 1024px) / 416));
    }
}

@media screen and (max-width: 1024px) {
    .intro .lamp1 {
        top: -8px;
    }
}

.intro .lamp1 img {
    position: absolute;
    left: 0;
}

.intro .lamp1 img:first-child {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
}

.intro .lamp1 img:last-child {
    z-index: 1;
    bottom: 17px;
    -webkit-transform: scale(700%);
    transform: scale(700%);
    -webkit-animation: blick1 5s infinite ease-in-out;
    animation: blick1 5s infinite ease-in-out;
}

@media screen and (max-width: 1100px) {
    .intro .lamp1 img:last-child {
        -webkit-transform: scale(700%) translate(3110px, 0px);
        transform: scale(700%) translate(3110px, 0px);
    }
}

@media screen and (max-width: 768px) {
    .intro .lamp1 img:last-child {
        -webkit-transform: scale(700%) translate(0px, 1px);
        transform: scale(700%) translate(0px, 1px);
    }
}

@media screen and (max-width: 425px) {
    .intro .lamp1 img:last-child {
        -webkit-transform: scale(700%) translate(0px, 1.5px);
        transform: scale(700%) translate(0px, 1.5px);
    }
}

@-webkit-keyframes blick1 {
    0%, 30% {
        opacity: 0.1;
    }

    30%, 50% {
        opacity: 1;
    }

    50%, 80% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

@keyframes blick1 {
    0%, 30% {
        opacity: 0.1;
    }

    30%, 50% {
        opacity: 1;
    }

    50%, 80% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

.intro .lamp2 {
    width: calc(60px + 82 * ((100vw - 320px) / 1600));
    height: calc(40px + 62 * ((100vw - 320px) / 1600));
}

@media screen and (max-width: 2560px) {
    .intro .lamp2 {
        top: calc(14px + 46 * ((100vw - 1920px) / 640));
        left: calc(320px + 110 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro .lamp2 {
        top: calc(20px + 6 * ((100vw - 1440px) / 480));
        left: calc(240px + 80 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1700px) {
    .intro .lamp2 {
        display: none;
    }
}

.intro .lamp2 img {
    position: absolute;
    left: 0;
    top: 0;
}

.intro .lamp2 img:last-child {
    -webkit-transform: translate(-15px, -20px);
    transform: translate(-15px, -20px);
    -webkit-animation: blick2 8s infinite ease-in-out;
    animation: blick2 8s infinite ease-in-out;
}

@media screen and (max-width: 1800px) {
    .intro .lamp2 img:last-child {
        -webkit-transform: translate(-12px, -16px);
        transform: translate(-12px, -16px);
    }
}

@media screen and (max-width: 1700px) {
    .intro .lamp2 img:last-child {
        -webkit-transform: translate(-8px, -14px);
        transform: translate(-8px, -14px);
    }
}

@-webkit-keyframes blick2 {
    0%, 10% {
        opacity: 0.1;
    }

    10%, 40% {
        opacity: 1;
    }

    40%, 70% {
        opacity: 1;
    }

    70%, 100% {
        opacity: 0.1;
    }
}

@keyframes blick2 {
    0%, 10% {
        opacity: 0.1;
    }

    10%, 40% {
        opacity: 1;
    }

    40%, 70% {
        opacity: 1;
    }

    70%, 100% {
        opacity: 0.1;
    }
}

.intro .lamp3 {
    left: 33%;
    width: calc(14px + 22 * ((100vw - 320px) / 1600));
    height: calc(57px + 76 * ((100vw - 320px) / 1600));
}

@media screen and (max-width: 2560px) {
    .intro .lamp3 {
        top: calc(-13px + 30 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro .lamp3 {
        top: calc(2px + -5 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1440px) {
    .intro .lamp3 {
        top: calc(0px + -4 * ((100vw - 1024px) / 416));
    }
}

@media screen and (max-width: 1024px) {
    .intro .lamp3 {
        top: -4px;
    }
}

.intro .lamp3 img {
    position: absolute;
    left: 0;
}

.intro .lamp3 img:first-child {
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
}

.intro .lamp3 img:last-child {
    z-index: 1;
    bottom: 17px;
    -webkit-transform: scale(700%) translateX(-1.3px);
    transform: scale(700%) translateX(-1.3px);
    -webkit-animation: blick3 8s infinite ease-in-out;
    animation: blick3 8s infinite ease-in-out;
}

@media screen and (max-width: 1024px) {
    .intro .lamp3 img:last-child {
        -webkit-transform: scale(700%) translateX(-0.6px);
        transform: scale(700%) translateX(-0.6px);
    }
}

@media screen and (max-width: 768px) {
    .intro .lamp3 img:last-child {
        -webkit-transform: scale(700%) translate(-0.6px, 1px);
        transform: scale(700%) translate(-0.6px, 1px);
    }
}

@media screen and (max-width: 425px) {
    .intro .lamp3 img:last-child {
        -webkit-transform: scale(700%) translate(-0.4px, 1.2px);
        transform: scale(700%) translate(-0.4px, 1.2px);
    }
}

@-webkit-keyframes blick3 {
    0%, 30% {
        opacity: 0.1;
    }

    30%, 50% {
        opacity: 1;
    }

    50%, 80% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

@keyframes blick3 {
    0%, 30% {
        opacity: 0.1;
    }

    30%, 50% {
        opacity: 1;
    }

    50%, 80% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

.intro .lamp4 {
    right: 35%;
    width: calc(14px + 22 * ((100vw - 320px) / 1600));
    height: calc(57px + 76 * ((100vw - 320px) / 1600));
}

@media screen and (max-width: 2560px) {
    .intro .lamp4 {
        top: calc(650px + 250 * ((100vw - 1920px) / 640));
    }
}

@media screen and (max-width: 1920px) {
    .intro .lamp4 {
        top: calc(502px + 153 * ((100vw - 1440px) / 480));
    }
}

@media screen and (max-width: 1440px) {
    .intro .lamp4 {
        top: calc(355px + 135 * ((100vw - 1024px) / 416));
    }
}

@media screen and (max-width: 1024px) {
    .intro .lamp4 {
        top: calc(263px + 87 * ((100vw - 768px) / 256));
    }
}

.intro .lamp4 img {
    position: absolute;
    left: 0;
}

.intro .lamp4 img:first-child {
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
}

.intro .lamp4 img:last-child {
    z-index: 1;
    bottom: 17px;
    -webkit-transform: scale(700%) translateX(-1.3px);
    transform: scale(700%) translateX(-1.3px);
    -webkit-animation: blick4 5s infinite ease-in-out;
    animation: blick4 5s infinite ease-in-out;
}

@media screen and (max-width: 1024px) {
    .intro .lamp4 img:last-child {
        -webkit-transform: scale(700%) translateX(-0.6px);
        transform: scale(700%) translateX(-0.6px);
    }
}

@media screen and (max-width: 768px) {
    .intro .lamp4 img:last-child {
        -webkit-transform: scale(700%) translate(-0.6px, 1px);
        transform: scale(700%) translate(-0.6px, 1px);
    }
}

@media screen and (max-width: 425px) {
    .intro .lamp4 img:last-child {
        -webkit-transform: scale(700%) translate(-0.4px, 1.2px);
        transform: scale(700%) translate(-0.4px, 1.2px);
    }
}

@-webkit-keyframes blick4 {
    0%, 10% {
        opacity: 0.1;
    }

    10%, 30% {
        opacity: 1;
    }

    30%, 80% {
        opacity: 1;
    }

    80%, 100% {
        opacity: 0.1;
    }
}

@keyframes blick4 {
    0%, 10% {
        opacity: 0.1;
    }

    10%, 30% {
        opacity: 1;
    }

    30%, 80% {
        opacity: 1;
    }

    80%, 100% {
        opacity: 0.1;
    }
}

.intro .lamp-type2 {
    position: absolute;
    display: none;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .intro .lamp-type2 {
        display: block;
    }
}

.intro .lamp-type2-1 {
    top: -100px;
    left: 0;
}

.intro .lamp-type2-1 img:first-child {
    position: relative;
    z-index: 2;
}

.intro .lamp-type2-1 img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-animation: blick1 5s infinite ease-in-out;
    animation: blick1 5s infinite ease-in-out;
}

.intro .lamp-type2-2 {
    top: 150px;
    right: 0;
}

.intro .lamp-type2-2 img:first-child {
    position: relative;
    z-index: 2;
}

.intro .lamp-type2-2 img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
    -webkit-animation: blick3 8s infinite ease-in-out;
    animation: blick3 8s infinite ease-in-out;
}

.intro .lamp-type2-3 {
    top: 600px;
    left: 0;
}

@media screen and (max-width: 415px) {
    .intro .lamp-type2-3 {
        top: 650px;
    }
}

.intro .lamp-type2-3 img:first-child {
    position: relative;
    z-index: 2;
}

.intro .lamp-type2-3 img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-animation: blick2 8s infinite ease-in-out;
    animation: blick2 8s infinite ease-in-out;
}

.intro .stone {
    position: absolute;
    z-index: 1;
    display: none;
}

@media screen and (max-width: 768px) {
    .intro .stone {
        display: block;
    }
}

.intro .stone1 {
    top: 0;
    left: 0;
}

.intro .stone2 {
    top: 0;
    right: 0;
}

.intro .stone3 {
    top: 200px;
    left: 0;
}

.intro .stone4 {
    top: 250px;
    right: 0;
}

.intro .stone5 {
    top: 280px;
    left: 0;
}

.intro .stone6 {
    top: 280px;
    right: 0;
}

.intro .stone7 {
    top: 380px;
    right: 0;
}

.intro .stone8 {
    top: 400px;
    left: 0;
}

.intro .stone9 {
    top: 450px;
    right: 0;
}

.intro .stone10 {
    top: 500px;
    left: 0;
}

.intro .stone11 {
    top: 600px;
    right: 0;
}

.intro .stone12 {
    top: 650px;
    left: 0;
}

.intro .stone13 {
    top: 700px;
    right: 0;
}

.intro .stone14 {
    bottom: 0;
    left: 0;
}

.intro .stone15 {
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
}

.intro .stone16 {
    bottom: 0;
    right: 0;
}

.footer {
    position: relative;
    z-index: 7;
}

@media screen and (max-width: 2560px) {
    .footer__row {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
}

@media screen and (max-width: 1024px) {
    .footer__row {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}

@media screen and (max-width: 768px) {
    .footer__row {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.footer__column {
    transition: 0.25s;
}

.footer__column:hover {
    -webkit-transform: scale(115%);
    transform: scale(115%);
}

@media screen and (max-width: 1920px) {
    .footer__column {
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
    }
}

@media screen and (max-width: 1440px) {
    .footer__column {
        -ms-flex: 0 0 110px;
        flex: 0 0 110px;
    }
}

@media screen and (max-width: 1024px) {
    .footer__column {
        -ms-flex: 0 0 70px;
        flex: 0 0 70px;
    }
}

@media screen and (max-width: 768px) {
    .footer__column {
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
    }
}

@media screen and (max-width: 425px) {
    .footer__column {
        -ms-flex: 0 0 120px;
        flex: 0 0 120px;
    }
}

@media screen and (max-width: 375px) {
    .footer__column {
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
    }
}